@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Manrope:wght@400;500;600;700;800&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
/* 
font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; 

*/



/* global style  */
:root {
    --primary-color: #3A3A3A;
    --text-gray-900: #18191F;
    --primary-font-size: 28px;
    --primary-font-family: 'Poppins';
    --card-des-font-family: 'Inter';
    --primary-btn-bg: #E02C6D;
    --Gray-50: #787885;
    --card-price-font-size: 24px;
    --card-dec-font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    padding: 80px 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

li,
a {
    color: var(--primary-color);
    list-style: none;
    text-decoration: none;
}

.primary-btn {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 24px;
    border-radius: 41px;
    background: #E02C6D;
    border: none;
    outline: none;
    font-family: var(--primary-font-family);
    letter-spacing: 0.5px;
}




/* header section style  */
#header,
#banner,
#sponsper {
    width: 1190px !important;
    margin: 0 auto;
    padding-top: 50px;
}

.nav-bar {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.nav-bar ul {
    display: flex;
    align-items: center;
}

.nav-title {
    color: var(--primary-color);
    font-family: var(--primary-font-family);
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.gears-span {
    color: var(--primary-btn-bg);
}

ul li a {
    padding: 0 17px;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
    font-family: var(--primary-font-family);
}

li:last-child a {
    padding-right: 0;
}

ul li a svg {
    margin-bottom: -8px;
}


/* banner section style here  */

.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65vh;
}

.banner-title {
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    color: var(--primary-color);
    font-family: var(--primary-font-family);
    margin-bottom: 16px;
}

.banner-decs {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
    font-family: var(--primary-font-family);
    padding-right: 13rem;
    margin-bottom: 18px;
}

.primary-btn i {
    padding-left: 10px;
}

.banner-content-bg {
    background: url(images/Circle\ design.svg) no-repeat center;
    background-size: cover;
}


/* sponsor section style here  */

.sponsor-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 35px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, rgba(192, 204, 218, 0.10) 0%, rgba(192, 204, 218, 0.60) 50.38%, rgba(192, 204, 218, 0.10) 100%);
    border-image-slice: 1;
}

.products-title {
    font-size: var(--primary-font-size);
    text-align: center;
    color: #3A3A3A;
    font-family: var(--primary-font-family);
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 47px;
}

.product-card-container {
    display: grid;
    gap: 35px;
    padding: 0 40px;
    grid-template-columns: repeat(3, 1fr);


}

.product-card {
    padding: 17px 15px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.product-card img {
    margin-bottom: 16px;
}

.card-title {
    color: var(--text-gray-900);
    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size);
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 8px;
}

.card-price {
    color: rgba(0, 0, 0, 0.87);
    font-family: var(--card-des-font-family);
    font-size: var(--card-price-font-size);
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 10px;
}

.card-rating {
    font-family: 'Roboto';
    line-height: 22px;
    letter-spacing: 0.1px;
    margin-bottom: 5px;
}

.card-dec,
.card-rating {
    color: var(--Gray-50);
    font-family: var(--card-des-font-family);
    font-size: var(--card-dec-font-size);
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 0.252px;
}